.gradient-custom {
    /* fallback for old browsers */
    background: #908c91;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(170, 167, 171), rgb(42, 35, 36));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(199, 196, 200), rgb(54, 50, 50))
    }
    